table 
  td 
    padding 10px 15px

.get 
  color #0167f6
  font-weight bold
  font-size 85%

.post 
  color #228b22
  font-weight bold
  font-size 85%

.put 
  color #028e9d
  font-weight bold
  font-size 85%


.delete 
  color #d22563
  font-weight bold
  font-size 85%


.param
  color: #777
  border-bottom: 1px dotted #777
  margin: 0 1px;
  font-size 85%
 
.query 
  color: #444
  font-size 85%
 
.arg
  color #777
  border-bottom 1px dotted #777
  margin 0 1px;

.post-only
  color #d22563
  background-color #ffe6e6
  font-size 13px !important
  border-radius 5px !important
  padding 3px 6px !important
  
